{% extends "layout.html" %}

{% block title %}
    HOMEPAGE!!!
{% endblock %}


{% block body %}

<div class="row">
  <div class="col-3"></div>
  <div class="col-6"><h3 style="color:red;text-float:center;margin-bottom:30px;margin-top:50px;">SEARCHING FOR BOOKS</h3></div>
  <div class="col-3"></div>
</div>

<div class="container-fluid">

    <div class="row">
      <div class="col">
      <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <label for="isbn">Search for Book by ISBN</label>
          <input type="text" name="book_isbn" class="form-control" placeholder="Enter Book ISBN" id="isbn">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </div>

   </div>
</div>

{% endblock %}
